h1 {
  font-size: 2em;
  color: #0e6655
;
  margin-bottom: 0;
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}
nav a {
  padding: 7px 12px;
  text-decoration: none;
  margin-top: 12px;
  display: inline-block;
  background-color:  	 #2ecc71
;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #000;
}
nav a:hover {
  color: #000;
  background-color:	 #fff ;
}
nav a.active {
  color: #000;
}