.search-result{
  border-bottom: 1px solid dodgerblue;
  border-left: 1px solid dodgerblue;
  border-right: 1px solid dodgerblue;
  width:195px;
  height: 20px;
  padding: 5px;
  background-color: #fff;
  cursor: pointer;
}

#search-box{
  width: 200px;
  height: 20px;
}