label {
  display: inline-block;
  width: 3em;
  margin: .5em 0;
  color:  	#AFEEEE;
  font-weight: bold;
}
input {
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
}
button {
  margin-top: 20px;
  font-family: Arial;
  background-color:  	#87CEFA;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer; cursor: hand;
}
button:hover {
  background-color: 	#F0FFFF;
}
button:disabled {
  background-color:  	#F0FFFF;
  color: #ccc; 
  cursor: auto;
}